.b-block-one__gif {
    background: url(../blocks/b-block-one/b-block-one.gif);
}

.b-block-one__jpeg {
    background: url(../blocks/b-block-one/b-block-one.jpeg);
}

.b-block-two__png {
    background: url(../blocks/b-block-two/b-block-two.png);
}

.b-block-two__jpg {
    background: url(../blocks/b-block-two/b-block-two.jpg);
}
